.user-page {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    min-height:100vh;
    
}

.user-list {
    grid-column: 1; 
    border-radius: 4%;
}

.user-details {
    grid-column: 2; 
    border-radius: 4%;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width:100vw;
  }
  
@media (max-width: 1000px){
    .user-page{
        grid-template-columns: 1fr 0fr;
    }
    .user-details {
        grid-column: 1; 
    }
}


